{% extends 'app_shop/base.html' %}

{% block main %}
   {% if cart %}
    <div class="d-flex flex-wrap">
      {% for item in cart %}
        <div class="d-flex flex-column me-5 mb-5 border border-secondary p-2 position-relative">
            <span class="position-absolute top-0 end-0">
                <img width="30"height="30" src="{{item.good.shop.log.url}}" alt="">
            </span>
            <h3 class="pt-3" style="font-size: 100%;">{{item.good.name}}</h3>
            <span class="card-text" style="font-size: 95%;">{{item.good.category.name}}</span>
           <img width="100" height="100" src="{{item.good.image.url}}">
           <span class="card-text" style="font-size: 95%;">{{item.good.price}} р.</span>
           <span class="card-text" style="font-size: 95%;">Количество: {{item.good_num}}</span>
            <span class="card-text" style="font-size: 95%;">Итого: {% widthratio item.good.price 1 item.good_num %} р.</span>
            <form method="post" action="{% url 'delete_from_cart' item.id %}">
                {% csrf_token %}
            <button type="submit" class="btn btn-secondary" style="font-size: 80%;">Удалить</button>
            </form>
        </div>
      {% endfor %}
    </div>
    <h3 class="fw-light fs-4 text-muted">Итоговая стоимость {{total_price}} р.</h3>
<form method="post" action="{% url 'pay' request.user.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary" style="font-size: 95%;">Подтвердить заказ</button>
</form>
  {% else %}
   <h4 class="fw-light fs-5 text-muted" >Добавьте товар в корзину</h4>
   {% endif %}

{% endblock %}