{% extends 'app_shop/base.html' %}

{% block main %}

{% if messages %}
    {% for message in messages %}
<div class="alert alert-{{ message.tags }}" xmlns="http://www.w3.org/1999/html">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}





  <div class="row row-cols-1 row-cols-md-4 g-4 mt-5" xmlns="http://www.w3.org/1999/html">
    {% for i_good in goods %}
      <div class="col">
        <div class="card h-80 d-flex flex-column" style="margin-bottom: 50px;">
          <img src="{{i_good.image.url}}" class="card-img-top img-fluid" style="width: 60%; height: auto;" alt="good image">
          <div class="card-body" style="min-height: 300px; overflow: auto;">
            <h5 class="card-text" style="font-size: 100%;">{{i_good.name}}</h5>
            <h6 class="card-text" style="font-size: 90%;">{{i_good.category}}</h6>
            <h6 class="card-text" style="font-size: 80%;">{{i_good.shop.name}}</h6>
            <p class="card-text" style="font-size: 80%; color: black; font-weight: 500; line-height: 1.5;">{{i_good.description|truncatewords:60}}</p>
            <p class="card-text" style="font-size: 80%; color: black;">{{i_good.price}} р.</p>
            <form method="post" action="{% url 'add_good' i_good.pk %}" class="mt-auto" >
              {% csrf_token %}
               {{add_form.good_num}}
              <button type="submit" class="btn btn-secondary card-text " style="font-size: 80%; margin-top: 10%;">В корзину</button>
            </form>
          </div>
        </div>
      </div>
    {% empty %}
      <h2>Нет товаров ....=</h2>
    {% endfor %}
  </div>
{% endblock %}


