{% extends 'app_shop/base.html' %}

{% block main %}
  <h1 class="fw-light fs-4 text-muted">Мой кабинет</h1>
  {% if object.profile.status_flag == 'new' %}
    <span class="fw-light fs-5 text-muted">Ваш текущий статус: Новичок</span>
  {% elif object.profile.status_flag == 'adv' %}
   <span class="fw-light fs-5 text-muted">Ваш текущий статус: Продвинутый</span>
<!--    <span>Your current status is Advanced</span>-->
  {% else %}
<!--    <span>Your current status is Expert</span>-->
    <span class="fw-light fs-5 text-muted">Ваш текущий статус: Эксперт</span>
  {% endif %}


  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-secondary" type ="submit" style="margin-top: 10px; margin-bottom: 10px;">Подтвердить</button>
  </form>
<h2 class="fw-light fs-5 text-muted">Мои заказы</h2>
<div class="accordion" id="accordionExample">
  {% for order in orders %}
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        #{{order.id}} Order by {{order.date}}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body d-flex flex-column">



        {% for i_good in order.cart_product.all %}
          <div>
            <h4>{{i_good.good.name}}</h4>
          </div>
          <div>
            <h6>{{i_good.price}}</h6>
          </div>

        {% endfor %}

    <h5 class="fw-light fs-5 text-muted">Итоговая стоимость: {{order.amount}} р.</h5>
      </div>
    </div>
  </div>
{% endfor %}
  
</div>
{% endblock %}